In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
UFO_file = "Resources/UFO-scrubbed.csv"
UFO_df = pd.read_csv(UFO_file)
UFO_df.head()

c:\users\carit\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [3]:
military_file = "Resources/military-bases.csv"
military_df = pd.read_csv(military_file)
military_df.head()

,Column1.datasetid,Column1.recordid,Column1.fields.oper_stat,Column1.fields.state_terr,Column1.fields.site_name,Column1.fields.objectid,Column1.fields.shapestlen,Column1.fields.component,Column1.fields.geo_point_2d,Column1.fields.joint_base,Column1.fields.country,Column1.fields.geo_shape,Column1.fields.shapestare,Column1.geometry.type,Column1.geometry.coordinates,Column1.record_timestamp
0,military-bases,e09a476b159e4203ab3486c8b62980e890fe1139,Active,Guam,Tumon Tank Farm,239,1749.477641,Navy Active,13.517917,Joint Region Marianas,Guam,[Record],1.023036e+05,Point,144.811097,2019-02-18T09:29:57.608-05:00
1,military-bases,e09a476b159e4203ab3486c8b62980e890fe1139,Active,Guam,Tumon Tank Farm,239,1749.477641,Navy Active,13.517917,Joint Region Marianas,Guam,[Record],1.023036e+05,Point,13.517917,2019-02-18T09:29:57.608-05:00
2,military-bases,e09a476b159e4203ab3486c8b62980e890fe1139,Active,Guam,Tumon Tank Farm,239,1749.477641,Navy Active,144.811097,Joint Region Marianas,Guam,[Record],1.023036e+05,Point,144.811097,2019-02-18T09:29:57.608-05:00
3,military-bases,e09a476b159e4203ab3486c8b62980e890fe1139,Active,Guam,Tumon Tank Farm,239,1749.477641,Navy Active,144.811097,Joint Region Marianas,Guam,[Record],1.023036e+05,Point,13.517917,2019-02-18T09:29:57.608-05:00
4,military-bases,5ce3d337dfd1bb654f571ce25b7ab2eb8413b9c6,Active,Illinois,Fort Sheridan,485,23820.291760,Navy Active,42.209614,NaN,United States,[Record],1.054839e+06,Point,-87.806118,2019-02-18T09:29:57.608-05:00

In [4]:
reduced_UFO_df = UFO_df.loc[:, ['datetime', 'city', 'state', 'country', 'shape','date posted', 'latitude',
       'longitude ']]
reduced_UFO_df.head()

,datetime,city,state,country,shape,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,1/22/2004,21.4180556,-157.803611

In [5]:
columns = ['datetime', 'city', 'state', 'country', 'shape','date posted', 'latitude',
       'longitude ']

reduced_UFO_df = reduced_UFO_df.loc[reduced_UFO_df["country"] == "us", columns]

reduced_UFO_df.head()

,datetime,city,state,country,shape,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,10/2/1999,41.1175,-73.408333

In [6]:
reduced_UFO_df.rename(index={'us': 'United States'})
reduced_UFO_df.head()

,datetime,city,state,country,shape,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,10/2/1999,41.1175,-73.408333

In [7]:
clean_UFO_df= reduced_UFO_df.dropna(how="any")
clean_UFO_df.head()

,datetime,city,state,country,shape,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,10/2/1999,41.1175,-73.408333

In [8]:
clean_UFO_df = clean_UFO_df.drop_duplicates(subset=None, keep='first', inplace=False)
clean_UFO_df.head()

,datetime,city,state,country,shape,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,4/27/2004,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,4/27/2007,36.595,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,10/2/1999,41.1175,-73.408333

In [9]:
#reduced_UFO_df = (reduced_UFO_df['datetime'] > '2004-1-1') & (reduced_UFO_df['datetime'] <= '2014-12-31')

#reduced_UFO_df.head()

In [10]:
reduced_military_df = military_df.loc[:, ['Column1.datasetid','Column1.fields.oper_stat', 'Column1.fields.state_terr', 'Column1.fields.site_name', 'Column1.fields.component', 'Column1.fields.geo_point_2d',
       'Column1.fields.country', 'Column1.geometry.coordinates']]

reduced_military_df.head()

,Column1.datasetid,Column1.fields.oper_stat,Column1.fields.state_terr,Column1.fields.site_name,Column1.fields.component,Column1.fields.geo_point_2d,Column1.fields.country,Column1.geometry.coordinates
0,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,13.517917,Guam,144.811097
1,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,13.517917,Guam,13.517917
2,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,144.811097,Guam,144.811097
3,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,144.811097,Guam,13.517917
4,military-bases,Active,Illinois,Fort Sheridan,Navy Active,42.209614,United States,-87.806118

In [11]:
renamed_military_df = reduced_military_df.rename(columns={'Column1.datasetid':'Data Id', 'Column1.fields.oper_stat': 'Base Status',
       'Column1.fields.state_terr':'state', 'Column1.fields.site_name':'Base Name',
       'Column1.fields.component':'Base Type', 'Column1.fields.country':'country',
       'Column1.fields.geo_point_2d':'latitude', 'Column1.geometry.coordinates':'longitude',})

renamed_military_df.head()

,Data Id,Base Status,state,Base Name,Base Type,latitude,country,longitude
0,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,13.517917,Guam,144.811097
1,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,13.517917,Guam,13.517917
2,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,144.811097,Guam,144.811097
3,military-bases,Active,Guam,Tumon Tank Farm,Navy Active,144.811097,Guam,13.517917
4,military-bases,Active,Illinois,Fort Sheridan,Navy Active,42.209614,United States,-87.806118

In [12]:
columns = ['Data Id', 'Base Status', 'state', 'Base Name', 'Base Type', 'latitude',
       'country', 'longitude']

reduced_military_df = renamed_military_df.loc[renamed_military_df["country"] == "United States",  columns]
reduced_military_df.head()

,Data Id,Base Status,state,Base Name,Base Type,latitude,country,longitude
4,military-bases,Active,Illinois,Fort Sheridan,Navy Active,42.209614,United States,-87.806118
5,military-bases,Active,Illinois,Fort Sheridan,Navy Active,42.209614,United States,42.209614
6,military-bases,Active,Illinois,Fort Sheridan,Navy Active,-87.806118,United States,-87.806118
7,military-bases,Active,Illinois,Fort Sheridan,Navy Active,-87.806118,United States,42.209614
12,military-bases,Active,Oklahoma,Altus AFB,AF Active,34.668786,United States,-99.270898

In [14]:
clean_military_df = reduced_military_df.drop_duplicates(subset=['Base Name'], keep='first', inplace=False)
clean_military_df

,Data Id,Base Status,state,Base Name,Base Type,latitude,country,longitude
4,military-bases,Active,Illinois,Fort Sheridan,Navy Active,42.209614,United States,-87.806118
12,military-bases,Active,Oklahoma,Altus AFB,AF Active,34.668786,United States,-99.270898
16,military-bases,Active,Virginia,Fort Myer,Army Active,38.878617,United States,-77.075713
20,military-bases,Active,Minnesota,NG Rosemount Armory,Army Guard,44.747748,United States,-93.127605
24,military-bases,Active,Florida,Jacksonville IAP,AF Guard,30.486392,United States,-81.705440
28,military-bases,Active,Utah,Green River Test Complex,Army Active,38.958402,United States,-110.096989
32,military-bases,Active,North Carolina,MCB Camp Lejeune West Site,MC Active,34.621963,United States,-77.499244
36,military-bases,Active,Illinois,GL Camp JPJ,Navy Active,42.300311,United States,-87.853970
40,military-bases,Active,Florida,Cape San Blas Tracking Annex D-3,AF Active,29.675678,United States,-85.347100
44,military-bases,Active,New Hampshire,Pease ANGB,AF Guard,43.089069,United States,-70.818651
48,military-bases,Active,Florida,NAS Pensacola,Navy Active,NaN,United States,NaN
49,military-bases,Active,Maryland,USA Adelphi Laboratory Ctr,Army Active,39.032892,United States,-76.960496
53,military-bases,Active,Louisiana,NG Carville Gillis Long Center,Army Guard,30.201120,United States,-91.128950
57,military-bases,Active,Kansas,Forbes Field (ANG),AF Guard,38.960903,United States,-95.681207
65,military-bases,Active,North Carolina,ALF Bogue,MC Active,34.692851,United States,-77.028683
69,military-bases,Inactive,Hawaii,CSO Barbers Point,Navy Active,21.312229,United States,-158.066092
73,military-bases,Active,New Mexico,Boles Annex,AF Active,32.759213,United States,-105.930797
77,military-bases,Active,Virginia,Arlington National Cemetery,Army Active,38.878166,United States,-77.069932
81,military-bases,Active,Arizona,NG Papago Military Reservation,Army Guard,33.467442,United States,-111.962139
85,military-bases,Active,Texas,Laughlin AFB,AF Active,29.356740,United States,-100.782946
89,military-bases,Active,Tennessee,NG Jackson Airport Armory,Army Guard,35.598146,United States,-88.912959
93,military-bases,Active,Pennsylvania,NSA Mechanicsburg Det Philadelphia Annex PNBC,Navy Active,39.891748,United States,-75.178696
97,military-bases,Active,Idaho,Boise Air Terminal (ANG),AF Guard,43.556877,United States,-116.222460
101,military-bases,Active,Texas,Camp Bullis,AF Active,29.691079,United States,-98.561664
105,military-bases,Active,Virginia,Langley AFB,AF Active,NaN,United States,NaN
106,military-bases,Active,Virginia,NSA Norfolk NW Chesapeake,Navy Active,36.559099,United States,-76.267485
110,military-bases,Active,New York,Fort Drum,Army Active,44.124658,United States,-75.592730
114,military-bases,Active,Missouri,NG TS Clark Natl Forest Wappapello,Army Guard,36.891519,United States,-90.279967
118,military-bases,Active,Michigan,NG Lansing Headquarters Complex,Army Guard,42.768148,United States,-84.571308
122,military-bases,Active,Hawaii,Waianae-Kai Military Reservation,Army Active,21.447025,United States,-158.190932
...,...,...,...,...,...,...,...,...
2828,military-bases,Active,Florida,Pinecastle E.W. Range,Navy Active,29.114238,United States,-81.715306
2832,military-bases,Active,Alabama,Highbluff Stagefield,Army Active,31.150641,United States,-85.737564
2836,military-bases,Active,California,Sewage Evaporation Pon,Navy Active,36.243770,United States,-119.883542
2840,military-bases,Active,Maryland,Naval Academy North Severn,Navy Active,38.989826,United States,-76.462393
2844,military-bases,Active,Massachusetts,Otis ANGB,AF Guard,41.646160,United States,-70.533730
2848,military-bases,Active,Minnesota,Duluth IAP,AF Guard,46.844795,United States,-92.177561
2852,military-bases,Active,Indiana,Camp Atterbury,Army Guard,39.297641,United States,-86.046396
2856,military-bases,Active,Florida,NAS Key West Trumbo Point Annex,Navy Active,24.564679,United States,-81.791226
2860,military-bases,Active,Maryland,Aberdeen Proving Ground,Army Active,39.390560,United States,-76.218907
2864,military-bases,Active,Washington,NG Bremerton,Army Guard,47.552719,United States,-122.681352
2868,military-bases,Active,California,ITC Camp San Luis Obisbo,Army Guard,35.339152,United States,-120.703075
2872,military-bases,Active,Nevada,NAS Fallon,Navy Active,39.422230,United States,-118.704403
2876,military-bases,Active,Maine,NAS Portsmouth NCTS Cutler VLF Area,Navy Active,44.649271,United States,-67.285090
2880,military-bases,Active,Washington,Fort Lewis,Army Active,NaN,United States,NaN
2881,military-bases,Active,Maine,NG Bangor TS,Army Guard,44.809548,United States,-68.833396
2885,military-bases,Active,Nebraska,NG Lincoln AASF/Readiness Center,Army Guard,40.837322,United States,-96.754992
2889,military-bases,Active,California,Laguna Peak,Navy Active,34.109830,United States,-119.069918
2893,military-bases,Active,Tennessee,NG VTS Milan,Army Guard,35.884966,United States,-88.664674
2897,military-bases,Active,Washington,NAS Whidbey Island,Navy Active,48.338529,United States,-122.661957
2901,military-bases,Active,Kentucky,Fort Campbell,Army Active,36.622195,United States,-87.624606
2905,military-bases,Active,Vermont,NG TS Camp Johnson,Army Guard,44.499627,United States,-73.164621
2909,military-bases,Active,Oklahoma,Thunderbird Youth Academy,Army Guard,36.295560,United States,-95.292947
2917,military-bases,Active,Virginia,NAS Oceana,Navy Active,36.813776,United States,-76.030974
2921,military-bases,Active,Massachusetts,Hanscom AFB,AF Active,42.458926,United States,-71.277109
2925,military-bases,Active,Alaska,Fort Greely,Army Active,63.972762,United States,-145.717039
2929,military-bases,Active,Texas,NAS Kingsville,Navy Active,NaN,United States,NaN
2930,military-bases,Active,Alabama,NOLF Brewton,Navy Active,31.048519,United States,-87.064509
2934,military-bases,Active,New York,Stewart IAP,AF Guard,41.501405,United States,-74.084345
2938,military-bases,Active,Idaho,Orchard Range TS Boise,Army Guard,43.227526,United States,-116.139019
2942,military-bases,Active,California,NB Coronado Imperial Beach,Navy Active,32.562403,United States,-117.112010

In [17]:
clean_military_df = clean_military_df.dropna(how="any")
clean_military_df

,Data Id,Base Status,state,Base Name,Base Type,latitude,country,longitude
4,military-bases,Active,Illinois,Fort Sheridan,Navy Active,42.209614,United States,-87.806118
12,military-bases,Active,Oklahoma,Altus AFB,AF Active,34.668786,United States,-99.270898
16,military-bases,Active,Virginia,Fort Myer,Army Active,38.878617,United States,-77.075713
20,military-bases,Active,Minnesota,NG Rosemount Armory,Army Guard,44.747748,United States,-93.127605
24,military-bases,Active,Florida,Jacksonville IAP,AF Guard,30.486392,United States,-81.705440
28,military-bases,Active,Utah,Green River Test Complex,Army Active,38.958402,United States,-110.096989
32,military-bases,Active,North Carolina,MCB Camp Lejeune West Site,MC Active,34.621963,United States,-77.499244
36,military-bases,Active,Illinois,GL Camp JPJ,Navy Active,42.300311,United States,-87.853970
40,military-bases,Active,Florida,Cape San Blas Tracking Annex D-3,AF Active,29.675678,United States,-85.347100
44,military-bases,Active,New Hampshire,Pease ANGB,AF Guard,43.089069,United States,-70.818651
49,military-bases,Active,Maryland,USA Adelphi Laboratory Ctr,Army Active,39.032892,United States,-76.960496
53,military-bases,Active,Louisiana,NG Carville Gillis Long Center,Army Guard,30.201120,United States,-91.128950
57,military-bases,Active,Kansas,Forbes Field (ANG),AF Guard,38.960903,United States,-95.681207
65,military-bases,Active,North Carolina,ALF Bogue,MC Active,34.692851,United States,-77.028683
69,military-bases,Inactive,Hawaii,CSO Barbers Point,Navy Active,21.312229,United States,-158.066092
73,military-bases,Active,New Mexico,Boles Annex,AF Active,32.759213,United States,-105.930797
77,military-bases,Active,Virginia,Arlington National Cemetery,Army Active,38.878166,United States,-77.069932
81,military-bases,Active,Arizona,NG Papago Military Reservation,Army Guard,33.467442,United States,-111.962139
85,military-bases,Active,Texas,Laughlin AFB,AF Active,29.356740,United States,-100.782946
89,military-bases,Active,Tennessee,NG Jackson Airport Armory,Army Guard,35.598146,United States,-88.912959
93,military-bases,Active,Pennsylvania,NSA Mechanicsburg Det Philadelphia Annex PNBC,Navy Active,39.891748,United States,-75.178696
97,military-bases,Active,Idaho,Boise Air Terminal (ANG),AF Guard,43.556877,United States,-116.222460
101,military-bases,Active,Texas,Camp Bullis,AF Active,29.691079,United States,-98.561664
106,military-bases,Active,Virginia,NSA Norfolk NW Chesapeake,Navy Active,36.559099,United States,-76.267485
110,military-bases,Active,New York,Fort Drum,Army Active,44.124658,United States,-75.592730
114,military-bases,Active,Missouri,NG TS Clark Natl Forest Wappapello,Army Guard,36.891519,United States,-90.279967
118,military-bases,Active,Michigan,NG Lansing Headquarters Complex,Army Guard,42.768148,United States,-84.571308
122,military-bases,Active,Hawaii,Waianae-Kai Military Reservation,Army Active,21.447025,United States,-158.190932
126,military-bases,Active,Virginia,NSA Norfolk St Helena Norfolk,Navy Active,36.825489,United States,-76.289299
130,military-bases,Active,Alaska,Fort Richardson,AF Active,61.265674,United States,-149.641107
...,...,...,...,...,...,...,...,...
2820,military-bases,Active,Indiana,Knightstown,Army Guard,39.767908,United States,-85.517734
2824,military-bases,Active,North Carolina,NG Raleigh,Army Guard,35.809173,United States,-78.712073
2828,military-bases,Active,Florida,Pinecastle E.W. Range,Navy Active,29.114238,United States,-81.715306
2832,military-bases,Active,Alabama,Highbluff Stagefield,Army Active,31.150641,United States,-85.737564
2836,military-bases,Active,California,Sewage Evaporation Pon,Navy Active,36.243770,United States,-119.883542
2840,military-bases,Active,Maryland,Naval Academy North Severn,Navy Active,38.989826,United States,-76.462393
2844,military-bases,Active,Massachusetts,Otis ANGB,AF Guard,41.646160,United States,-70.533730
2848,military-bases,Active,Minnesota,Duluth IAP,AF Guard,46.844795,United States,-92.177561
2852,military-bases,Active,Indiana,Camp Atterbury,Army Guard,39.297641,United States,-86.046396
2856,military-bases,Active,Florida,NAS Key West Trumbo Point Annex,Navy Active,24.564679,United States,-81.791226
2860,military-bases,Active,Maryland,Aberdeen Proving Ground,Army Active,39.390560,United States,-76.218907
2864,military-bases,Active,Washington,NG Bremerton,Army Guard,47.552719,United States,-122.681352
2868,military-bases,Active,California,ITC Camp San Luis Obisbo,Army Guard,35.339152,United States,-120.703075
2872,military-bases,Active,Nevada,NAS Fallon,Navy Active,39.422230,United States,-118.704403
2876,military-bases,Active,Maine,NAS Portsmouth NCTS Cutler VLF Area,Navy Active,44.649271,United States,-67.285090
2881,military-bases,Active,Maine,NG Bangor TS,Army Guard,44.809548,United States,-68.833396
2885,military-bases,Active,Nebraska,NG Lincoln AASF/Readiness Center,Army Guard,40.837322,United States,-96.754992
2889,military-bases,Active,California,Laguna Peak,Navy Active,34.109830,United States,-119.069918
2893,military-bases,Active,Tennessee,NG VTS Milan,Army Guard,35.884966,United States,-88.664674
2897,military-bases,Active,Washington,NAS Whidbey Island,Navy Active,48.338529,United States,-122.661957
2901,military-bases,Active,Kentucky,Fort Campbell,Army Active,36.622195,United States,-87.624606
2905,military-bases,Active,Vermont,NG TS Camp Johnson,Army Guard,44.499627,United States,-73.164621
2909,military-bases,Active,Oklahoma,Thunderbird Youth Academy,Army Guard,36.295560,United States,-95.292947
2917,military-bases,Active,Virginia,NAS Oceana,Navy Active,36.813776,United States,-76.030974
2921,military-bases,Active,Massachusetts,Hanscom AFB,AF Active,42.458926,United States,-71.277109
2925,military-bases,Active,Alaska,Fort Greely,Army Active,63.972762,United States,-145.717039
2930,military-bases,Active,Alabama,NOLF Brewton,Navy Active,31.048519,United States,-87.064509
2934,military-bases,Active,New York,Stewart IAP,AF Guard,41.501405,United States,-74.084345
2938,military-bases,Active,Idaho,Orchard Range TS Boise,Army Guard,43.227526,United States,-116.139019
2942,military-bases,Active,California,NB Coronado Imperial Beach,Navy Active,32.562403,United States,-117.112010